body{ 
  font-family: 'source sans pro,' sans-serif;
  margin: 0;
  padding: 0;
  background-color:#ffffff;
} 

header{
  border-top: 1px solid #F0F8FF;
  border-bottom: 1px solid #F0F8FF;
  font-family: 'Orbitron', sans-serif;
  background-color:#FFFFFF;
  color: #000000;
  padding: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

nav{
  background-color:#232726 ;
  border-top: 2px solid #E6E6FA;
  border-bottom: 2px solid #FFFFFF;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  padding-top: 15px;
  } 

nav ul{
  list-style-type: none;
  text-align: center;
} 

nav li{
  display: inline;
}

nav a{
  text-decoration: none;
  padding-right:10px;
}

a:link{
  color: white;
}

a:visited{
  color: white;
} 

a:hover{
  color: #DCDCDC;
}

a:active{
  color: #000000;
}

h1{
  text-align: center;
}

#main{
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
} 

footer{
  clear: both;
  padding: 30px;
  background-color:#232726 ;
  border-top: 3px solid gray;
  text-align: center;
  color: white;
}

table{
  border-collapse:collapse;
  background-color: #FFFFFF;
  max-height: 50px;
}

th, td{
  border:solid #000000 2px;
  padding:5px 10px
} 

th{
background-color:#D6CF5A;
color:white;
}


label{
  float:left;
  width: 8em;
  padding-right: 1em;
}

input,textarea{
  margin-bottom: 1em;
  display: block;
  border-radius:4px; 
}


input[type= "submit"]
{
  display: block;
  background-color: #F8F8FF;
}

input[type="reset"]
{
  display: block;
  background-color:#F8F8FF;
}
 
form{
  background-color: #C0C0C0;
  border: 1px solid #4682B4;
  max-width: 450px;
  margin: 0 auto;
  box-shadow: inset 0px 5px 15px grey;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow:0px 5px 15px grey;
  border-radius: 5px;
}


div{
display: block;
}


h2{
  font-weight: bold;
}


p{
  font-size: 20px;
}


}
h2{
  text-align:left;
  text-align: center;
}

.resume{ 
  text-align: center;
}

.Me{ 
  display: block;
  float: left;
  border-radius: 6px;
  height: auto;
  background-color:#80929A;
  margin:20px ;
} 

.main{
    margin:0 auto;
    max-width:58%;
    background-color: #FFFFFF;
    box-shadow:0px 5px 15px grey; 
    margin-bottom:8px;
    margin-top:8px;
    text-align:40px;
    padding-inline-start: 60px;
}

.image-homehero{
  background-image: url("JT.JPG");
  background-repeat: no-repeat;
  padding: 10px 10px 10px 30px;
  background-size: cover;
  box-shadow:0px 5px 15px grey; 
  border-radius:5px;
  background-position: center;
  opacity: 0.5;
  height:500px;
  margin: 0 auto;
  margin-top:5px;
}

blockquote{ 
  margin: 25px;
  background-color:#D6CF5A ;
  color: #FFFFFF;
  text-align: center;
}

.img-fluid{
   border:solid #605E5A 5px;
   padding:15px;
   float-right: 30px;
   box-shadow: inset 0px 5px 15px grey; ;
}


i.fa{  
  font-size:60px;
  color:#FFFFFF;
  text-align: center;
}


.resort{
     font-size: 1.1em;
}
 
.container{
   margin:auto;
   max-width:1200;
   background-color: #FFFFFF;
   box-shadow:0px 5px 15px grey; 
   margin-bottom:8px;
   margin-top:8px;    
} 

.h3{
  padding-inline-start:30px;
  font-family: 'Rubik Distressed', cursive;
}

.wrapper{
  text-align: center;
}

.p{
 text-align: center;
}

.my{
 text-align: center;
}

.col-sm-1{
  float: right;
  margin:50px;
}
 
.hh3{
  text-align: center;
  font-family: 'Rubik Distressed', cursive;
}

#container{
   margin:auto;
   width:900px;
   padding: 10px 10px 10px 10px;
  box-shadow:0px 5px 15px grey; 
  border-radius:5px;
  background-position:center;
  margin-top: 10px;
}

.H3{
  text-align: center;
}

.col-sm-6{
  flex: 0 0 50%;
}

.concert{
  text-align: center;
} 

.col-sm-4 i.fa{  
  font-size:60px;
  color:#000000;
  text-align: center;
}


.hhh{
  text-align: center;
}


canvas{
  background-image: url("lake.jpeg");
  width: 640px;
  height: 360px;
  display: block;
  margin: 0 auto;
  border:7px solid yellow; 
}

.mobile{
  display:none;
}

.desktop{
  display:none;
}

  
.desktop{
  display: block;
  touch-action: manipulation;
}

.game-controls{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 15px;
}

main{
  margin: 0 auto;
  max-width: 1100px;
  padding: 15px;
}

.myButton{
  background-color: #D6CF5A ;
  border-radius: 5px;
  padding: 11px 23px;
  box-shadow: inset 0px 1px 3px 0px #232726;
  display: inline-block;
  font-family: arial;
}






